body {
	background: black;
}

.postcard {
	background: white;
	width: 600px;
	height: 370px;
	margin: 100px auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header img {
	height: 70px;
	width: 70px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
	width: 50%;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	width: 100%;
	padding: 5px;
	margin: 3px 0;
}

.postcard-footer {
	text-align: center;
	padding: 10px;
}

button {
	background-color: lightblue;
	padding: 10px 20px;
	font-size: 14px;
}
